/*^FONTSYLE^*/

.playfair-display_special {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

/*^ NAVBAR^*/
.navbar-logo {
  height: 100px;
  width: 450px;
  border-radius: 50%;
}

/* ^SECTIONS^ */
#spring-wines {
  background: linear-gradient(
    to top right,
    rgba(254, 213, 220, 0.7),
    rgba(239, 194, 255, 0.7)
  );
}

#awarded {
  background: linear-gradient(
    to top right,
    rgba(255, 236, 128, 0.7),
    rgba(86, 56, 0, 0.7)
  );
}

#best-sellers {
  background: linear-gradient(
    to top right,
    rgba(255, 165, 147, 0.7),
    rgba(202, 43, 7, 0.7)
  );
}

#promos {
  background: linear-gradient(
    to top right,
    rgba(57, 163, 250, 0.7),
    rgba(77, 252, 162, 0.7)
  );
}

#hero-space {
  background-image: url("../img/pexels-andreamostiphotography-15508429.jpg");
  height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

/*^CARD^*/
.wine-card {
  transition: 0.4s all ease;
  position: relative;
}

.wine-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.hero-space-card {
  background-color: rgba(224, 224, 224, 0.7);
  border-radius: 10px;
  padding: 15px;
}

/*^BUTTON^*/

.btn {
  transition: 0.4s all ease;
  margin-top: 15px;
}

.btn:hover {
  transform: scale(1.1);
}

.shopping-cart-btn {
  margin: 0 15px 0 0;
}

.secondary-logo {
  max-width: 500px;
  max-height: 350px;
}

.shopping-cart {
  font-size: 20px;
}

.shipping-icon {
  font-size: 18px;
}

.red-pin {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 5px;
}

.blink {
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
